autopep8==2.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
FBlevi==0.1
idna==3.7
Kvsqlite==0.2.1
markdown-it-py==3.0.0
mdurl==0.1.2
pyaes==1.6.1
pyasn1==0.6.0
pycodestyle==2.11.1
pyfiglet==1.0.2
Pygments==2.17.2
Pyrogram==2.0.106
pyromod==3.1.6
PySocks==1.7.1
pyTelegramBotAPI==4.12.0
redis==5.0.4
requests==2.31.0
rich==13.7.1
rsa==4.9
Telethon==1.35.0
urllib3==2.2.1
